<html>
<head>

</head>
{% extends 'base.html'%}
{%block contents%}
<body>
    <br>
    <br>
    <div class="container">


        {% for blog in posts%}
        <div class="card w-75">
            <div class="card-body">
                <h1>{{blog.title}}</h1>
                <p>{{blog.pub_date}}</p>
                <p>{{blog.summary}}...</p>
                <br>

                <a href="{%url 'detail' blog.id%}" class="btn btn-primary">more</a>
            </div>
        </div>
        <br>
        {%endfor%}
        <div class="container">
            <!--first previous-->
            {% if posts.has_previous%}
            <a href="?page=1">First</a>
            <a href="?page={{posts.previous_page_number}}">previous</a>
            {%endif%}
            <!--3of4-->
            <span>{{posts.number}}</span>
            <span>of</span>
            <span>{{posts.paginator.num_pages}}</span>

            <!--next last-->
            {%if posts.has_next%}
            <a href="?page={{posts.next_page_number}}">next</a>
            <a href="?page={{posts.paginator.num_pages}}">last</a>
            {%endif%}
        </div>
    </div>
    {%endblock%}
</body>
</html>